/*Hide ToC */

.md-sidebar--secondary {
  	display: none;
}


/*Hide Navigation Sidebar on Large Screens*/

@media only screen and (min-width: 76.25em) {
	.md-sidebar--primary {
  	  display: none;
	}
}


@media only screen and (min-width: 60em) {
  	.md-content {
    	margin-right: 0;
    	margin-left:  0;
  	}
}

/*Image Styling*/

.gallery {
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: 250px 150px;
	grid-auto-flow: dense;
}

.entry {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen (min-width: 76.25em) {
	first-child.gallery{
		grid-area: 1 / 1 / span 2 / span 2;
	}
}

img {
  	border-radius: 4px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img.feature {
  	width: 50%;
  	height: auto;
  	margin-left: auto;
  	margin-right: auto;
  	border-radius: 8px;
  	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 76.25em) {
	img.feature {
  	  width: 50%;
	}
}

.thumb {
  	opacity: 1;
  	display: block;
  	width: 100%;
  	height: auto;
  	transition: .5s ease;
  	backface-visibility: hidden;
}

.thumb_label {
  	transition: .5s ease;
  	opacity: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%)
}

.entry:hover .thumb {
  	opacity: 0.33;
}

.entry:hover .thumb_label {
  	opacity: 1;
}

.label_text {
  	color: #1A1A1A;
  	text-align: center;
  	font-size: 21px;
  	font-style: italic;
  	padding: 16px 16px;
}

/*Portfolio Gallery Styling*/

.row {
  	display: flex;
  	flex-wrap: wrap;
  	padding: 0 8px;
}

.column {
  	flex: 33%;
  	max-width: 33%;
  	padding: 0 8px;
}

.column img {
  	margin-top: 16px;
  	vertical-align: middle;
  	width: 100%;
}

@media screen and (max-width: 76.25em) {
  	.column {
    	flex: 50%;
    	max-width: 50%;
  	}
}

@media screen and (max-width: 60em) {
  	.column {
    	flex: 100%;
    	max-width: 100%;
  	}
}